<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	
	<h2>즐겨찾기 추가하기</h2>
	
	<div class="container">
		<label class="mt-2 ml-1">사이트명</label><br>
		<input type="text" class="form-control col-8 mt-2 ml-2" id="nameInput">
		<label class="mt-2 ml-1">주소</label><br>
		<div class="d-flex">
			<input type="text" class="form-control col-7 mt-2 ml-2" id="urlInput"><button class="btn btn-info ml-1 mt-2 " id="dupBtn">중복확인</button>
		</div>
		<span class="small text-danger ml-2" id="dupTrue">중복된 url 입니다.</span>
		<span class="small text-info ml-2" id="dupFalse">저장 가능한 url 입니다.</span>
		
		<button type="button" class="btn btn-block btn-success col-8 mt-2 ml-2" id="addBtn">추가</button>
	</div>
	
	
	
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script>
		
		$("#dupTrue").hide();
		$("#dupFalse").hide();
		
		let dupCheck = false;
		
		$("#dupBtn").on("click", function(){
			
			let url = $("#urlInput").val();
			

			
			$.ajax({
				type:"get"
				, url:"/bookmark-url-duplicate"
				, data:{"url":url}
				, success:function(response){
					if(response.isDuplicate){
						//중복됨 사용불능
						//alert("dd");
						$("#dupTrue").show();
						
					} else {
						//사용가능
						//alert("ss");
						
						dupCheck = true;
						$("#dupFalse").show();
						
						
					}
				}
				, error:function(){
					alert("중복체크 중 에러 발생!");
				}
				
			});
		});
	
	
		$("#addBtn").on("click", function(){
			let name = $("#nameInput").val();
			let url = $("#urlInput").val();
			
			if(dupCheck){
				alert("url 중복확인을 해주세요!");
				return;
			}
			
			if(name==""){
				alert("input site name!");
				return;
			}
			
			
			if(!url.startsWith("https")){
				alert("Url must start with https !");
				return;
			}
			
			$.ajax({
				type:"post"
				, url:"/bookmark/add"
				, data:{"name":name, "url":url}
				, success:function(response){
					
					if(response.result=="success"){
						// 새로운 요청, /bookmark/list 로 getmapping 요청 보내야 함. 
						
						location.href="/bookmark/list";
						
					} else{
						
					}
				}
				, error:function(){
					alert("즐겨찾기 추가 에러!");
				}	
				
				
			});
			
		});
	
	</script>
	
	
	
	
	
	
	
	
	
	

</body>
</html>