<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ds04011.SpringTest.realestate.repository.RealEstateRepository">
 	<select id="getRealEstateById" resultType ="com.ds04011.SpringTest.realestate.domain.RealEstate">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From
 			`real_estate`
 		where
 			`id`=#{id}
 	</select>
 
 	<select id="getRealEstateByPriceLimit" 
 	resultType="com.ds04011.SpringTest.realestate.domain.RealEstate"
 	parameterType="int">
 		SELECT 
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From
 			`real_estate`
 		where
 			`rentPrice` &lt;= #{rentprice}
 		and
 			`type`="월세"
 	
 	</select>
 
 	<select id="getRealEstateByAreaPrice"
 	resultType="com.ds04011.SpringTest.realestate.domain.RealEstate"
 	parameterType="int">
 		SELECT
 			`id`
 			, `realtorId`
 			, `address`
 			, `area`
 			, `type`
 			, `price`
 			, `rentPrice`
 			, `createdAt`
 			, `updatedAt`
 		From
 			`real_estate`
 		where	
 			`area`  &gt;= #{area}
 		and
 			`price`  &lt;= #{price}
 			
 	</select>
 	
 	<insert id="insertRealEstate"
 	parameterType = "map">
 		Insert into `real_estate`
 			(
	 			`realtorId`
	 			, `address`
	 			, `area`
	 			, `type`
	 			, `price`
	 			, `rentPrice`
 			)
 		Value
 			(
 				#{realtorId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 				, #{rentPrice}
 			)
 	
 	</insert>
 	
 	<insert id="insertRealEstateByEntity"
 	parameterType="com.ds04011.SpringTest.realestate.domain.RealEstate">
 		Insert into `real_estate`
 			(
	 			`realtorId`
	 			, `address`
	 			, `area`
	 			, `type`
	 			, `price`
	 			, `rentPrice`
 			)
 		Value
 			(
 				#{realtorId}
 				, #{address}
 				, #{area}
 				, #{type}
 				, #{price}
 				, #{rentPrice}
 			)
 	
 	</insert>
 </mapper>