<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.ds04011.SpringTest.seller.repository.SellerRepository">
	
	<select id="getSellers"
	resultType="com.ds04011.SpringTest.seller.domain.Seller">
		SELECT 
			`id`
			, `nickname`
			, `temperature`
			, `profileImage`
			, `createdAt`
			, `updatedAt`
		FROM
			`seller`
	
	
	</select>
	
	<select id="getSellerById"
	resultType="com.ds04011.SpringTest.seller.domain.Seller"
	parameterType="int">
		SELECT 
			`id`
			, `nickname`
			, `temperature`
			, `profileImage`
			, `createdAt`
			, `updatedAt`
		FROM
			`seller`
		WHERE
			`id`=#{id}
	
	</select>
	
	<select id="getLastSeller"
	resultType = "com.ds04011.SpringTest.seller.domain.Seller">
		SELECT 
			`id`
			, `nickname`
			, `temperature`
			, `profileImage`
			, `createdAt`
			, `updatedAt`
		FROM
			`seller`
		ORDER BY 
			`id` 
			desc
		LIMIT 
			1
	
	</select>
	
	<insert id="addSeller"
	parameterType="map">
		INSERT INTO 
			`seller`
		(
		`nickname`
		, `temperature`
		, `profileImage`
		)
		VALUE
		(
			#{nickname}
			, #{temperature}
			, #{url}
		)
	</insert>

</mapper> 