<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.ds04011.SpringTest.weather.repository.WeatherRepository">
 
 	<select id="getWeatherList"
 	resultType="com.ds04011.SpringTest.weather.domain.Weather">
 		SELECT 
 			`id`
 			, `date`
 			, `weather`
 			, `temperatures`
 			, `precipitation`
 			, `microDust`
 			, `windSpeed`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`weatherhistory`
 	
 	</select>
 </mapper>