<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="/thymeleaf/style.css">
<title>Insert title here</title>
</head>
<body>
	<div id="wrap" class="">
	
		<header></header>
		
		
		
		<section class="d-flex ">
		
			<div class="col-2 pas side-nav-bar">
				<div class="text-center text-align-center d-flex justify-content-center mt-1">
					<span class="text-white text-center "><img width="30px" src="https://i.namu.wiki/i/hDE3JnDsi38teHYizOlMC5ip7L4jOfOFpwe50yKdBd9t9RUSvzTl9smyR55heN2KMgD383A6UzMGdE-GMjDHsQ.svg">기상청</span>
				</div>
				<div>
					<nav class="main-menu ">
						<ul class="nav nav-fill flex-column ">
							<li class="nav-item"><a href="#" class="nav-link text-dark text-left">날씨</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-dark text-left">날씨입력</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-dark text-left">테마날씨</a></li>
							<li class="nav-item"><a href="#" class="nav-link text-dark text-left">관측 기후</a></li>
						
						</ul>
					</nav>
				</div>
			</div>
			
			
			<article class="main-contents p-4">
				<h2>날씨 입력</h2>
				<form method="post" action="/weather/input"  >
				<div class="mt-5">
				
					<div class="d-flex justify-content-between">
						<div class="d-flex">
							<label class="input-label">날짜</label>
							<input type="text" class="form-control" name="date"> 
						</div>
						<div class="d-flex">
							<label class="input-label">날씨</label>
							<select class="form-control" name="weather">
								<option>맑음</option>
								<option>구름조금</option>
								<option>흐림</option>
								<option>비</option>
							</select>
						</div>
						<div class="d-flex">
							<label class="input-label">미세먼지</label>
							<select class="form-control" name="microDust">
								<option>좋음</option>
								<option>보통</option>
								<option>나쁨</option>
								<option>최악</option>
							</select>
						</div>
					</div>	
					
				
				
					<div class="d-flex mt-5">
						<div class="d-flex">
							<label class="input-label">기온</label>
							<div class="input-group mb-3">
								<input type="text" class="from-control" name="temperatures">
								<div class="input-group-append">
									<span class="input-group-text">°C</span>
								</div>
							</div>
						</div>
						
						<div class="d-flex">
							<label class="input-label">강수량</label>
							<div class="input-group mb-3">
								<input type="text" class="from-control" name="precipitation">
								<div class="input-group-append">
									<span class="input-group-text">mm</span>
								</div>
							</div>
						</div>
						
						<div class="d-flex">
							<label class="input-label">풍속</label>
							<div class="input-group mb-3">
								<input type="text" class="from-control" name="windSpeed">
								<div class="input-group-append">
									<span class="input-group-text">km/h</span>
								</div>
							</div>
						</div>
						
					</div>
				
					<div class="d-flex justify-content-end ">
						<button type="submit" class="btn btn-success ">저장</button>
					</div>	
				</div>
				</form>
				
			</article>
			
		</section>
		
		
		<footer class="d-flex">
			<div class="col-2 d-flex align-items-center ">
				<span class="text-secondary text-center   "><img width="80px" src="https://aphrosys.com/img/partners_white/kma.png"></span>
				
			</div>
			<div class="text-secondary">
				<span class="text-sm">(07062) 서울시 동작구 여의대방로 16길 61</span><br>
				<span class="text-sm">Copyright@2020 KMA. All Rights RESERVED</span>
			</div>
		</footer>
	
	
	
	
	
	
	
	
	
	
	
	</div>

</body>
</html>