<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	
	<div class="container">
		<h2>판매자 정보</h2>
		<img  width = "300px" th:src="@{${seller.profileImage}}" alt="Seller Profile Image">
		<h4 th:text="${seller.nickname}"></h4>
		<h5 th:text="${seller.temperature}"></h5>
	</div>

</body>
</html>